doctype html
html
  head
    title Home
  body
    h1 Welcome to the Home Page
    p
      a(href='/about') Go to About Page
    form(action='/submit-form' method='post')
      input(type='text' name='username')
      input(type='submit' value='Submit')
    p
      img(src='/images/Downpic.cc-1941989908.jpg' alt='Uzbek Girl')
      
      
    p
      a(href='/download/Downpic.cc-1941989908.jpg' download) Download Image
